{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}


{% block title %} Westron CRUD {% endblock %}

{% block body %}
    <div class="container">

{#      Created a table using 'bootstrap-table' with built in search/filter and sorting features #}
        <table id="table"  data-toggle="table" data-sortable="true">

{#         thead with help of 'bootstrap-table' controlls data fields for each column of the table#}
            <thead>
                <tr>
                    <th data-field="id" data-sortable="true">ID</th>
                    <th data-field="first_name"data-sortable="true">First Name</th>
                    <th data-field="last_name" data-sortable="true">Last Name</th>
                    <th data-field="notes" data-sortable="true">Notes</th>
                    <th data-field="edit" data-sortable="false">Modify</th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.notes }}</td>
                    <td>
                        <button type="button" class="btn btn-primary">Edit</button>
                        <button type="button" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('form_new_customer') }}" class="btn btn-info">New Customer</a>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>

    <script>

        $('#table').bootstrapTable({
            columns: [{
                field: 'id',
                title: 'ID'
            }, {
                field: 'first_name',
                title: 'First Name'
            }, {
                field: 'last_name',
                title: 'Last Name'
            }, {
                field: 'notes',
                title: 'Notes'
            }
            ],
            search: true,
            url: '/api/customers',

        })
    </script>

{% endblock %}